*{
	outline:solid black 1px;
}
head ~ body{
	background-color: khaki;
}
h1{
	font-family: 
	font-size: 40px;
	border-style: groove;
	border-color: orange;
	border-width: 35px;
	background-color: yellow;
}
h2{
	font-family: 
	font-size: 40px;
	border-style: groove;
	border-color: orange;
	border-width:
	background-color: yellow;
	width: 1200px;
}
p{
	font-family: 
	font-size: 40px;
	border-style: groove;
	border-color: orange;
	border-width: 35px;
	background-color: yellow;
	width:1300px;
}
nav{
	width:200px;
	float:left;
	font-family: 
	font-size: 40px;
	border-style: groove;
	border-color: orange;
	border-width: 35px;
	background-color: yellow;
}
main{
	width:800px;	
}
article{
	clear: right;
	float: right;
	width: 500px;
}
img.left{
	float:left;
}
