@import url(https://fonts.googleapis.com/css?family=Architects+Daughter);
@import url(https://fonts.googleapis.com/css?family=Covered+By+Your+Grace);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps);
head ~ body{
	background-color: #FFDC58;
}
h1{
	font-family: 'Architects Daughter', cursive;
	font-size: 40px;
	border-style: outset;
	border-color:#FFCA00;
	border-width: 25px;
	width: 200px;
}
h2{
	font-family: "Covered By Your Grace", cursive; 
	font-size:30px;
	border-style: dashed;
	border-color: #FFFCF3;
	border-width: 5px;
	width: 300px;
}
p{
	font-family: 'Bilbo Swash Caps', cursive;
	font-size: 20px;
	background-color:#FFCF19;
	width:500px;
}
nav{
	width:200px;
	float:left;
	font-family: 'Sorce Sans Pro', sans-serif;
	font-size: 15px;
	border-style: double;
	border-color:#977908;
	border-width: 7px;
}
main{
	width:800px;	
}
article{
	clear: right;
	width: 750px;
	margin-left:271px;
}
ul{
	width: 300px;
}
img.left{
	clear:left;
}
img.right{
	float:right;
	clear:right;
}
footer{
	clear:both;
}
	
